<section
  class="shopping-bg shopping-bg-height d-flex justify-content-center align-items-center"
>
  <div class="text-center pb-8 pb-sm-0">
    <h2 class="fs-3 fs-md-2">買的不是食物</h2>
    <h2 class="fs-3 fs-md-2 mb-4">是替日常留點餘裕</h2>
    <h5 class="fs-0 fs-md-5 fw-semibold text-neutral-600 mb-4">
      把時間留給重要的人，晚餐交給我們
    </h5>
    <a href="allproducts.html" class="btn btn-outline-secondary-600 btn-sm mb-5 mb-sm-0"
      ><span class="fs-0">挑一味</span></a
    >
  </div>
</section>
