.container{
    width: 1504px;
}
.cart-card{
    color: #565252;
}
.table-title{
  background-color: #997E6F;   // 換成你的色碼
  color: white;              // 文字色
}
.btn-color{
    background-color: #997E6F;
    color: white; 
}