<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/images/logo/Type=Logo.svg" sizes="32x32" />    
    <title>YENMADE醃造所 | 感謝您的購買</title>
</head>
<body>
    <%- include('./layout/headerdark'); -%>
<main class="container-md thankyou-page py-5 mt-5">
<!-- Hero -->
    <section class="text-center py-5 mt-5">
    <img class="d-block mx-auto mb-4 " src="../assets/images/logo/Type=Logo_Horizontal.svg" alt="logo">
    <h1 class="font-weight-semibold $h2-font-size text-center text-neutral-600 mb-3">謝謝您的購買</h1>
    <p class="fs-3 font-weight-semibold text-center text-neutral-600 mb-2">我們正細心準備</p>
    <p class="fs-3 font-weight-semibold text-center text-neutral-600 mb-4">很快就會送到您手中</p>

    <a href="./member-center.html" class="btn btn-color btn-lg px-5 mx-auto mb-3">訂單追蹤</a>

    <p class="text-neutral-500 mt-4 mb-0">非會員訂單將以簡訊及信箱通知訂單最新狀態</p>
    </section>

</main>





    <%- include('./layout/footer'); -%>
<script type="module" src="../main.js"></script>
</body>
</html>