<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main>
    <div class="container position-relative">
        <!--我們怎麼醃出這一味-->
          <div class="section-title d-flex align-items-center mb-96 mt-120">
            <div class="line flex-grow-1 border-top"></div>
            <p class="title text-primary h2 text-center">我們怎麼醃出這一味？</p>
            <div class="line flex-grow-1 border-top"></div>  
          </div>
        <div class="container-1076 mx-auto text-center">
          <!--製作方法1-->
          <div class="row mb-80">
            <!--介紹-->          
            <div class="col-3 offset-1 text-center">
              <div class="position-relative d-inline-block mb-3">
                <img src="../assets/images/Vector-green.svg" alt="#">
                <span class="position-absolute top-50 start-50 translate-middle h4 text-white">01</span>
              </div>
              <div class="mb-3">
                <p class="h4 mb-0">選用在地小農</p>
                <i class="bi bi-x-lg mx-2 my-3 icon-24"></i>
                <p class="h4 mb-0">新鮮食材</p>
              </div>
              <div>
                <div class="text-neutral-600">每一口都吃得到</div>
                <div class="text-neutral-600">當季的踏實與鮮甜</div>
                <div class="text-neutral-600">不添加化學品</div>
              </div>  
            </div>
            <!--圖片-->
            <div class="col-7 position-relative">
              <img src="../assets/images/Feature-img.jpg" alt="蔬果圖片" class="w-100">
              <img src="../assets/images/illustration/Illustration_salt.svg" alt="灑鹽插圖" class="illustration-salt">
            </div>
          </div>
          <!--製作方法2-->
          <div class="row mb-80">
            <!--圖片-->
            <div class="position-relative col-7 offset-1">
                <img src="../assets/images/Feature-img-1.jpg" alt="醃製過程圖" class="w-100 main-img">
                <img src="../assets/images/illustration/Illustration_cut.svg" alt="切菜插圖" class="illustration-cut">
            </div>
            <!--介紹-->          
            <div class="col-3 text-center">
              <div class="position-relative d-inline-block mb-3">
                <img src="../assets/images/Vector-orange.svg" alt="#">
                <span class="position-absolute top-50 start-50 translate-middle h4 text-white">02</span>
              </div>
              <div class="mb-3">
                <p class="h4 mb-0">低油低鹽</p>
                <i class="bi bi-x-lg mx-2 my-3 icon-24"></i>
                <p class="h4 mb-0">天然發酵</p>
              </div>
              <div>
                <div class="text-neutral-600">不靠添加物延長保存</div>
                <div class="text-neutral-600">我們用時間做保存</div>
              </div>  
            </div>
          </div>
          <!--製作方法3-->
          <div class="row mb-80">          
            <!--介紹-->          
            <div class="col-3 offset-1 text-center">
              <div class="position-relative d-inline-block mb-3">
                <img src="../assets/images/Vector-green.svg" alt="#">
                <span class="position-absolute top-50 start-50 translate-middle h4 text-white">03</span>
              </div>
              <div class="mb-3">
                <p class="h4 mb-0">純手工製作</p>
                <i class="bi bi-x-lg mx-2 my-3 icon-24"></i>
                <p class="h4 mb-0">細火慢熬</p>
              </div>
              <div>
                <div class="text-neutral-600">從切菜、殺菌、醃漬</div>
                <div class="text-neutral-600">每一步都有人親手照顧</div>
              </div>  
            </div>
            <!--圖片-->
            <div class="position-relative col-7 offset-1">
                <img src="../assets/images/Feature-img-2.jpg" alt="切菜圖" class="w-100 main-img">
                <img src="../assets/images/illustration/Illustration_glass_jam.svg" alt="瓶罐插圖" class="illustration-glass">
            </div>
            
          </div>
          <!--製作方法4-->
          <div class="row mb-80">
            <!--圖片-->
            <img src="../assets/images/Feature-img-3.jpg" alt="罐裝醃製瓶罐圖" class="col-7 offset-1">
            <!--介紹-->          
            <div class="col-3 text-center">
              <div class="position-relative d-inline-block mb-3">
                <img src="../assets/images/Vector-orange.svg" alt="#">
                <span class="position-absolute top-50 start-50 translate-middle h4 text-white">04</span>
              </div>
              <div class="mb-3">
                <p class="h4 mb-0">密封玻璃罐裝</p>
                <i class="bi bi-x-lg mx-2 my-3 icon-24"></i>
                <p class="h4 mb-0">安心看得見</p>
              </div>
              <div>
                <div class="text-neutral-600">食材泡在裡面是什麼</div>
                <div class="text-neutral-600">一眼就知道</div>
              </div>  
            </div>
          </div>
          <!--製作方法5-->
          <div class="row mb-184">          
            <!--介紹-->          
            <div class="col-3 offset-1 text-center">
              <div class="position-relative d-inline-block mb-3">
                <img src="../assets/images/Vector-green.svg" alt="#">
                <span class="position-absolute top-50 start-50 translate-middle h4 text-white">05</span>
              </div>
              <div class="mb-3">
                <p class="h4 mb-0">老味新作</p>
                <i class="bi bi-x-lg mx-2 my-3 icon-24"></i>
                <p class="h4 mb-0">配飯配麵都適合</p>
              </div>
              <div>
                <div class="text-neutral-600">從阿嬤傳下來的味道中改良</div>
                <div class="text-neutral-600">怎麼搭都對味</div>
              </div>  
            </div>
            <!--圖片-->
            <div class="position-relative col-7">
                <img src="../assets/images/Feature-img-4.jpg" alt="醃漬物配飯糰" class="w-100 main-img">
                <img src="../assets/images/illustration/Illustration_plate.svg" alt="盤子插圖" class="illustration-plate">
            </div>
          </div>
        </div>
      </div>
    </div>
    </main>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
