<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>全站預設版面用</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main>
      <section class=""></section>
    </main>

    <%- include('./layout/footer'); -%>

    <!-- 以下測試變數和樣式設定 -->
    <!-- 測試文字 -->
    <h1>我是首頁</h1>
    <h2>我是首頁</h2>
    <h3>我是首頁</h3>
    <h4>我是首頁</h4>
    <h5>我是首頁</h5>
    <h6 class="fs-lg-4">我是首頁</h6>
    <p class="text-primary border border-tertiary-500 p-3">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
      fugiat asperiores deserunt adipisci doloribus inventore, corporis ea quasi
      earum blanditiis ab quas reprehenderit eum iusto hic sit! Error,
      voluptatem !
    </p>

    <!-- 測試顏色 + 按鈕 -->
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>
    <button type="button" class="btn btn-link">Link</button>

    <!-- 測試 icon -->
    <ul class="list-unstyled">
      <li>
        <i class="bi bi-person-circle"></i>
        <span>People circle</span>
      </li>
      <li>
        <i class="bi bi-search"></i>
        <span>search</span>
      </li>
      <li>
        <i class="bi bi-cart3"></i>
        <span>cart3</span>
      </li>
      <li>
        <i class="bi bi-arrow-down"></i>
        <span>arrow-down</span>
      </li>
      <li>
        <i class="bi bi-list"></i>
        <span>list</span>
      </li>
      <li>
        <i class="bi bi-x"></i>
        <span>x</span>
      </li>
      <li>
        <i class="bi bi-facebook"></i>
        <span>facebook</span>
      </li>
      <li>
        <i class="bi bi-instagram"></i>
        <span>instagram</span>
      </li>
      <li>
        <i class="bi bi-line"></i>
        <span>line</span>
      </li>
      <li>
        <i class="bi bi-threads"></i>
        <span>threads</span>
      </li>
      <li>
        <i class="bi bi-youtube"></i>
        <span>youtube</span>
      </li>
      <li>
        <i class="bi bi-youtube"></i>
        <span>youtube</span>
      </li>
      <li>
        <i class="bi bi-caret-up"></i>
        <span>Caret up</span>
      </li>
    </ul>

    <script type="module" src="../main.js"></script>
  </body>
</html>
